<div class="container">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <form id="edit-post-form" data-post-id="{{post.id}}">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input
              class="input"
              type="text"
              id="post-title"
              placeholder="Title"
              value="{{post.title}}"
            />
          </div>
        </div>
        <div class="field">
          <label class="label">Body</label>
          <div class="control">
            <textarea
              class="textarea"
              id="post-content"
              placeholder="Body"
            >{{post.body}}</textarea>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Save Changes</button>
          </div>
          <div class="control">
            <button
              id="delete-post"
              class="button is-danger"
              data-post-id="{{post.id}}"
            >Delete Post</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>