{{#if logged_in}}
  <p>Welcome, {{username}}!</p>
{{else}}
  <p>Please log in to continue</p>
{{/if}}

<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to The Tech Blog!
      </h1>
      <h2 class="subtitle">
        A place to share your ideas and insights about technology.
      </h2>
    </div>
  </div>
</section>
<div class="columns">
  <div class="column is-8">
   {{#each posts}}
     {{> postInfo this}}
   {{/each}}
  </div>
  </div>
</div>

<script src="/js/addComment.js"></script>
<script src="/js/postActions.js"></script>